[submodule "modules/talend"]
	path = modules/talend
	url = https://github.com/Talend/baseline.quickstart.talend.git
[submodule "modules/datasource"]
	path = modules/datasource
	url = https://github.com/Talend/datasource.quickstart.talend.git
[submodule "modules/bastion"]
	path = modules/bastion
	url = https://github.com/Talend/quickstart-linux-bastion.git
